@CHARSET "UTF-8";
#pageturning{
    text-align: center;
    height: 26px;
    border:#c1cdd8 0 solid;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    width: 100%;
}
.buttonleft{
    background-image:url(../images/icons2/turnleft.png)!important;
    background-repeat: no-repeat;
    background-position: 8px 6px;
    cursor: pointer;
    width:22px;
    height:24px;
    text-align:center;
}
.buttonright{
    background-image:url(../images/icons2/trunright.png)!important;
    background-repeat: no-repeat;
    background-position: 8px 6px;
    cursor: pointer;
    width:22px;
    height:24px;
    text-align:center;
}


.tablestyle{
    font-family: Microsoft YaHei;
    text-align: left;
    background-color: #cdcdcd;
}