@CHARSET "UTF-8"; 

#tablelistdiv {
	WIDTH: 100%;
	OVERFLOW: auto;
	POSITION: relative;
	Z-INDEX: 100
}

TABLE.tablestyle THEAD TR TH {
	background-color:#CADFE8;
	height: 18px;
	font-size:14px;
	padding: 9px 3px 9px 3px;
	text-align: center;
    cursor: pointer;
    color: #003CA5;
    font-size:9pt; 
}

TABLE.tablestyle THEAD TR TH.thS {
	WIDTH: 60px
}

TABLE.tablestyle THEAD TR TH.thM {
	WIDTH: 70px
}

TABLE.tablestyle THEAD TR TH.thL {
	WIDTH: 80px
}

TABLE.tablestyle THEAD TR TH.thXL {
	WIDTH: 90px
}

TABLE.tablestyle THEAD TR TH.th2XL {
	WIDTH: 100px
}

TABLE.tablestyle THEAD TR TH.th3XL {
	WIDTH: 120px
}

TABLE.tablestyle THEAD TR TH.th4XL {
	WIDTH: 130px
}

TABLE.tablestyle THEAD TR TH.th5XL {
	WIDTH: 150px
}

TABLE.tablestyle THEAD TR .headerSortUp {
	BACKGROUND-POSITION: right center;
}

TABLE.tablestyle THEAD TR .headerSortDown {
	BACKGROUND-POSITION: right center;
}

TABLE.tablestyle TBODY TR {
	BACKGROUND-COLOR: #FFF
}

TABLE.tablestyle TBODY TD {
	VERTICAL-ALIGN: top;
	PADDING: 4px
}

TABLE.tablestyle TBODY TD.date {
	TEXT-ALIGN: center
}

TABLE.tablestyle TBODY TD.rightnum {
    TEXT-ALIGN: right
}

TABLE.tablestyle TBODY TD.total {
	TEXT-ALIGN: right;
	FONT: bold 12px tahoma, arial, helvetica, sans-serif;
	COLOR: #15428b
}

TABLE.tablestyle TBODY TR.selectedColor {
	background-color: #E2DFDF
}

TABLE.tablestyle TBODY TR.mouseOverColor {
	background-color: #cedff5
}

TABLE.tablestyle TBODY TR.unselectedColor, TABLE.tablestyle TBODY TR.mouseOutColor
	{
	BACKGROUND: #FFF
}

TABLE.tablestyle {
    font-family: Microsoft YaHei;
    text-align: left;
    background-color: #cdcdcd;
}

TABLE.tablestyle TFOOT TR TH {
	TEXT-ALIGN: right;
	FONT-SIZE: 9pt;
	BACKGROUND-COLOR: #cedff5;
	COLOR: #15428b;
	PADDING: 4px;
	BORDER:#fff 1px solid;
}

TABLE.tablefixed {
	position: absolute;
	z-index: 99;
	border-top-width: 0;
	border-bottom-width: 0px
}

.tablefontstyle{
	font-size: 15px!important;
	color: #138CDD !important;
	background-color: #E6E6E6!important;
}

TABLE.tablestyle TBODY TD.tacenter {
    text-align: center;
}